VITE_SUPABASE_URL= https://luquchtmwmbjrzrbxlfz.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1cXVjaHRtd21ianJ6cmJ4bGZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyODU0NTQsImV4cCI6MjA5Njg2MTQ1NH0.ZLsWDlB5AjYoi3rPwG91k7Yhswe769uGUw1kmDWi96k
